{% extends "base.html" %} {% block content %}  
{% load static %}

<section class="content">
  <section class="post_form">
 <div class="header">
  <img src="{% static 'img/pentagon.png' %}" alt="">
  <h1>HOME</h1>
 </div>
    <form action="/" method="POST">
    {% csrf_token %}
    <img src="{% static 'img/avatar.png' %}" alt="">
<div style="width: 75%;">
        <input type="text" name="name" placeholder="Name" required />
         <textarea name="body" placeholder="Tell us anything" required></textarea>
         <input type="submit" style="width: 150px;" value="Post">
        </div>
    </form>
  </section> 
  <section class="posts">
      <ul>
        {% for post in posts %}
        <li>
            <img class="js-menu-icon" id= "menu-icon" src="{% static 'img/menu.png' %}" />
            <div class="menu">
                <a href="/delete/{{post.id}}">delete</a>
            </div>
            <div class="logo">
              <img src="{% static 'img/avatar.png' %}" alt="">
              <div class="menu">
                <a href="/delete/{{ post.id }}/" style="text-decoration:none">Delete</a>
            


              </div>
            </div>
            <div class="name_body">
                <div class="name">{{ post.name }}</div>
                <div class="datetime"> {{ post.created_at }}</div>
                <p>{{ post.body }}</p>
                
            </div>
           </li>
          {% endfor %}
      </ul>
 </section>
 <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="{% static 'js/posts.js' %}"></script>
</section>

{% endblock %}